app:
  # tcp port
  listenaddr: 127.0.0.1
  listenport: 9000

  # pprof debug port
  debug: true
  pprof: 127.0.0.1:9001

kv:
  # db path
  dbpath: "db"
  # enable persistent
  persistent: true
  # persistent interval time
  persistenttime: 300
